.eric-mibeau-child,
.woow-icon26,
.woow-icon27,
.woow-icon28 {
  position: absolute;
  top: 467px;
  left: 86px;
  width: 367.29px;
  height: 207.94px;
}
.eric-mibeau-child,
.woow-icon27,
.woow-icon28 {
  top: 714px;
  left: 1095px;
}
.eric-mibeau-child,
.woow-icon28 {
  top: 0;
  left: 993px;
  height: 136.94px;
}
.eric-mibeau-child {
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
  width: 1131px;
  height: 121px;
}
.lorem-ipsum-dolor,
.mibeau-eric1,
.pm {
  position: absolute;
  top: 14px;
  left: 147px;
  font-weight: 500;
  display: inline-block;
  width: 135px;
  height: 23px;
  -webkit-text-stroke: 1px #fff;
}
.lorem-ipsum-dolor,
.pm {
  top: 47px;
  font-weight: 300;
  width: 964px;
  height: 55px;
}
.pm {
  top: 14px;
  left: 1032px;
  font-weight: 500;
  width: 89px;
  height: 23px;
}
.eric-mibeau-item {
  position: absolute;
  top: 16px;
  left: 17px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.eric-mibeau,
.eric-mibeau1,
.eric-mibeau2,
.navbar-child7 {
  position: absolute;
  top: 109px;
  left: 291px;
  width: 1131px;
  height: 121px;
}
.eric-mibeau1,
.eric-mibeau2,
.navbar-child7 {
  top: 250px;
}
.eric-mibeau2,
.navbar-child7 {
  top: 391px;
}
.navbar-child7 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 277px;
  height: 1024px;
}
.mask-group-icon41 {
  position: absolute;
  top: 1px;
  left: 28.5px;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.dashboard25 {
  position: absolute;
  top: 0;
  left: 54.5px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 96px;
  height: 19px;
}
.dashboard-child7 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 2px;
  height: 21px;
}
.dashboard24,
.order21 {
  position: absolute;
  height: 19px;
}
.dashboard24 {
  top: 0;
  left: 0;
  width: 150.5px;
  color: var(--color-purple);
}
.order21 {
  top: 1px;
  left: 28px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 119px;
}
.car-1-icon3,
.order20 {
  position: absolute;
  height: 21px;
}
.car-1-icon3 {
  top: 0;
  left: 0;
  width: 21px;
  object-fit: cover;
}
.order20 {
  top: 50px;
  left: 26.5px;
  width: 147px;
  cursor: pointer;
}
.orders-history20 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 122px;
  height: 19px;
}
.history-1-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.orders-history19 {
  position: absolute;
  top: 102px;
  left: 28.5px;
  width: 148px;
  height: 19px;
  cursor: pointer;
}
.calendar-1-icon8 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.schedule20 {
  position: absolute;
  top: 153px;
  left: 28.5px;
  width: 148px;
  height: 19px;
  cursor: pointer;
}
.logo-child8,
.navigation9 {
  position: absolute;
  top: 185px;
  left: 18.5px;
  width: 176.5px;
  height: 172px;
}
.logo-child8 {
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.time11,
.wheels11 {
  position: absolute;
  top: 1px;
  left: 49px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 33px;
}
.wheels11 {
  top: 22px;
  left: 51px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.9em;
  color: var(--color-goldenrod-100);
  width: 94px;
}
.logo11 {
  position: absolute;
  top: 48px;
  left: 47px;
  width: 148px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-18xl);
}
.download-1-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-28xl);
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.ivanka-trump9,
.time-lord9 {
  position: absolute;
  line-height: 95.9%;
  display: flex;
  align-items: center;
}
.ivanka-trump9 {
  top: 13px;
  left: 72px;
  font-weight: 600;
  width: 116px;
  height: 23px;
}
.time-lord9 {
  top: 32px;
  left: 71px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  width: 105px;
  height: 17px;
}
.navbar9,
.profile9 {
  position: absolute;
  top: 922px;
  left: 47px;
  width: 188px;
  height: 62px;
}
.navbar9 {
  top: 0;
  left: 0;
  width: 277px;
  height: 1024px;
  font-size: var(--font-size-mid);
}
.open-chat {
  position: absolute;
  top: 1px;
  left: 31px;
  line-height: 95.9%;
  font-weight: 600;
}
.vector-icon8 {
  position: absolute;
  height: 100%;
  width: 15.65%;
  top: 0;
  right: 84.35%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chat {
  position: absolute;
  top: 854px;
  left: 45px;
  width: 115px;
  height: 18px;
  font-size: var(--font-size-mid);
}
.header-child7 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 1132px;
  height: 84px;
}
.chat1,
.div116,
.header-child7 {
  position: absolute;
}
.chat1 {
  top: 22px;
  left: 35.8px;
  display: inline-block;
  width: 79.77px;
}
.div116 {
  top: 33px;
  left: 1063px;
  font-size: var(--font-size-mid);
  line-height: 95.9%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 58px;
  height: 19px;
}
.header9 {
  position: absolute;
  top: 6px;
  left: 291px;
  width: 1132px;
  height: 84px;
  font-size: var(--font-size-11xl);
}
.search-bar9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dimgray-200);
  width: 396px;
  height: 38px;
}
.vector-icon9 {
  position: absolute;
  height: 52.63%;
  width: 5.05%;
  top: 23.68%;
  right: 91.67%;
  bottom: 23.68%;
  left: 3.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-chats {
  position: absolute;
  top: 9px;
  left: 53px;
  font-weight: 500;
  display: inline-block;
  width: 175px;
  height: 20px;
}
.search-bar8 {
  position: absolute;
  top: 29px;
  left: 916px;
  width: 396px;
  height: 38px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.footer-news-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 1144px;
  height: 67px;
}
.recent-traffic-news9 {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
}
.unusual-traffic-in9 {
  position: absolute;
  top: 0;
  left: 26px;
  font-weight: 500;
}
.traffic-jam-icon9 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.traffic-news9 {
  position: absolute;
  top: 21px;
  left: 293px;
  width: 291px;
  height: 25px;
}
.potential-rain-at9 {
  position: absolute;
  top: 0;
  left: 23px;
  font-weight: 500;
}
.rainy-weather-icon9 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.footer-news9,
.rain-news9 {
  position: absolute;
  top: 20px;
  left: 673px;
  width: 378px;
  height: 25px;
}
.footer-news9 {
  top: 949px;
  left: 286px;
  width: 1144px;
  height: 67px;
  color: var(--color-gray-100);
}
.dashboard-chat {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
