.how-to-pay-child,
.how-to-pay-inner,
.how-to-pay-item {
  position: absolute;
  top: 316px;
  left: 634px;
  border-radius: 50%;
  background-color: var(--color-olive);
  filter: blur(100px);
  width: 511px;
  height: 511px;
}
.how-to-pay-inner,
.how-to-pay-item {
  top: -14px;
  left: 114px;
  background-color: var(--color-steelblue-100);
  width: 796px;
  height: 796px;
}
.how-to-pay-inner {
  top: -81px;
  left: -116px;
  background-color: var(--color-olive);
  width: 511px;
  height: 511px;
}
.an1,
.arvin-rayhandi-prayoga1,
.div1 {
  position: absolute;
  top: 300px;
  left: 157px;
  font-size: var(--font-size-81xl);
  display: inline-block;
  width: 711px;
  height: 153px;
}
.an1,
.arvin-rayhandi-prayoga1 {
  top: 485px;
  font-size: var(--font-size-31xl);
  height: 84px;
}
.an1 {
  top: 440px;
  font-size: var(--font-size-11xl);
  height: 45px;
}
.image-1-icon {
  position: absolute;
  top: 110px;
  left: 329px;
  width: 368px;
  height: 115px;
  object-fit: cover;
}
.boleh-duitnya-bang1,
.wah-terima-kasih1 {
  position: absolute;
  top: 265.68px;
  left: 349px;
  transform: rotate(-5deg);
  transform-origin: 0 0;
}
.wah-terima-kasih1 {
  top: 613.7px;
  left: 257px;
  display: inline-block;
  width: 244px;
  height: 25.23px;
  transform: rotate(-1.34deg);
  opacity: 0.8;
}
.image-1025-icon1 {
  position: absolute;
  top: 377px;
  left: 34px;
  width: 123px;
  height: 123px;
  object-fit: cover;
}
.image-1019-icon1,
.image-1947-icon1,
.image-5-icon1 {
  position: absolute;
  top: 404px;
  left: 881px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.image-1947-icon1,
.image-5-icon1 {
  top: 237px;
  left: 599.03px;
  width: 29.65px;
  height: 29.65px;
}
.image-1947-icon1 {
  top: 601px;
  left: 483px;
  width: 63px;
  height: 63px;
}
.image-1652-icon1,
.image-1656-icon1 {
  position: absolute;
  top: 80.62px;
  left: 65.62px;
  width: 58.77px;
  height: 58.77px;
  object-fit: cover;
}
.image-1652-icon1 {
  top: 179px;
  left: 171px;
  width: 46px;
  height: 46px;
}
.image-1340-icon1,
.image-339-icon1 {
  position: absolute;
  top: 28px;
  left: 766px;
  width: 72.58px;
  height: 72.58px;
  object-fit: cover;
}
.image-339-icon1 {
  top: 146px;
  left: 852px;
  width: 91px;
  height: 91px;
}
.agancy-girlpng-icon1 {
  position: absolute;
  top: calc(50% + 164px);
  left: calc(50% - 512px);
  width: 410px;
  height: 221px;
  object-fit: cover;
}
.how-to-pay {
  position: relative;
  background-color: var(--color-white);
  width: 1024px;
  height: 768px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
