.woow-icon6 {
  position: absolute;
  top: 714px;
  left: 1095px;
  width: 367.29px;
  height: 207.94px;
}
.header-inner,
.woow-icon7,
.woow-icon8 {
  position: absolute;
  top: 0;
  left: 993px;
  width: 367.29px;
  height: 136.94px;
}
.header-inner,
.woow-icon8 {
  top: 467px;
  left: 86px;
  height: 207.94px;
}
.header-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 1164px;
  height: 84px;
}
.orders-history4 {
  top: 22px;
  left: 36px;
  display: inline-block;
  width: 221px;
}
.div75,
.header2,
.orders-history4 {
  position: absolute;
}
.div75 {
  top: 33px;
  left: 1074px;
  font-size: var(--font-size-mid);
  line-height: 95.9%;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 58px;
  height: 19px;
}
.header2 {
  top: 9px;
  left: 286px;
  width: 1164px;
  height: 84px;
  font-size: var(--font-size-11xl);
}
.end-of-our,
.this-month {
  position: absolute;
  top: 111px;
  left: 300px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-300);
  display: inline-block;
  width: 187.22px;
}
.end-of-our {
  top: 588px;
  left: 801px;
  font-size: var(--font-size-mini);
  width: 141px;
}
.navbar-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 277px;
  height: 1024px;
}
.mask-group-icon23 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.dashboard-select,
.dashboard7 {
  position: absolute;
  top: 0;
  height: 19px;
}
.dashboard7 {
  left: 26px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 96px;
}
.dashboard-select {
  left: 28.5px;
  width: 122px;
  cursor: pointer;
}
.dashboard-inner {
  position: absolute;
  top: 100px;
  left: -1px;
  width: 2px;
  height: 21px;
}
.dashboard6,
.order5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150.5px;
  height: 120px;
}
.order5 {
  top: 1px;
  left: 28px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 119px;
  height: 19px;
}
.car-1-icon {
  object-fit: cover;
}
.car-1-icon,
.mask-group,
.order4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.order4 {
  top: 50px;
  left: 26.5px;
  width: 147px;
  cursor: pointer;
}
.orders-history6 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 122px;
  height: 19px;
}
.mask-group-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.orders-history5,
.schedule4 {
  position: absolute;
  left: 28.5px;
  width: 148px;
  height: 19px;
}
.orders-history5 {
  top: 102px;
  color: var(--color-purple);
}
.schedule4 {
  top: 153px;
  cursor: pointer;
}
.logo-child1,
.navigation2 {
  position: absolute;
  top: 185px;
  left: 18.5px;
  width: 176.5px;
  height: 172px;
}
.logo-child1 {
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.time4 {
  top: 1px;
  left: 49px;
  line-height: 95.9%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 33px;
}
.logo4,
.time4,
.wheels4 {
  position: absolute;
}
.wheels4 {
  top: 22px;
  left: 51px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.9em;
  line-height: 95.9%;
  font-weight: 800;
  color: var(--color-goldenrod-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
}
.logo4 {
  top: 48px;
  left: 47px;
  width: 148px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-18xl);
}
.download-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-28xl);
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.ivanka-trump2,
.time-lord2 {
  position: absolute;
  line-height: 95.9%;
  display: flex;
  align-items: center;
}
.ivanka-trump2 {
  top: 13px;
  left: 72px;
  font-weight: 600;
  width: 116px;
  height: 23px;
}
.time-lord2 {
  top: 32px;
  left: 71px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  width: 105px;
  height: 17px;
}
.profile2 {
  position: absolute;
  top: 922px;
  left: 47px;
  width: 188px;
  height: 62px;
}
.footer-news-inner,
.navbar2 {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar2 {
  width: 277px;
  height: 1024px;
  font-size: var(--font-size-mid);
}
.footer-news-inner {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 1144px;
  height: 67px;
}
.recent-traffic-news2 {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
}
.unusual-traffic-in2 {
  position: absolute;
  top: 0;
  left: 26px;
  font-weight: 500;
}
.traffic-jam-icon2 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.traffic-news2 {
  position: absolute;
  top: 21px;
  left: 293px;
  width: 291px;
  height: 25px;
}
.potential-rain-at2 {
  position: absolute;
  top: 0;
  left: 23px;
  font-weight: 500;
}
.rainy-weather-icon2 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.footer-news2,
.rain-news2 {
  position: absolute;
  top: 20px;
  left: 673px;
  width: 378px;
  height: 25px;
}
.footer-news2 {
  top: 949px;
  left: 286px;
  width: 1144px;
  height: 67px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.communicate-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.new-chat2 {
  position: absolute;
  top: 1px;
  left: 31px;
  line-height: 95.9%;
  font-weight: 600;
}
.notif2 {
  position: absolute;
  top: 857px;
  left: 77px;
  width: 123px;
  height: 18px;
  font-size: var(--font-size-mid);
}
.search-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dimgray-200);
  width: 396px;
  height: 38px;
}
.vector-icon2 {
  position: absolute;
  height: 52.63%;
  width: 5.05%;
  top: 23.68%;
  right: 91.67%;
  bottom: 23.68%;
  left: 3.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-order-history {
  position: absolute;
  top: 9px;
  left: 53px;
  font-weight: 500;
  display: inline-block;
  width: 175px;
  height: 20px;
}
.search-bar {
  position: absolute;
  top: 32px;
  left: 862px;
  width: 396px;
  height: 38px;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.winston-marston-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1118px;
  height: 122px;
}
.order-id {
  font-weight: 500;
}
.jan-0700-,
.marston-winston,
.order-id-00000000005-container {
  position: absolute;
  top: 31px;
  left: 814.42px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 246px;
  height: 31px;
  -webkit-text-stroke: 1px #fff;
}
.jan-0700-,
.marston-winston {
  top: 17px;
  left: 136px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  width: 205.81px;
}
.jan-0700- {
  top: 47px;
  left: 367.75px;
  font-size: var(--font-size-xl);
  width: 292.35px;
  height: 28px;
}
.winston-marston-item {
  position: absolute;
  top: 31px;
  left: 30px;
  width: 64px;
  height: 62px;
  object-fit: cover;
}
.from,
.until {
  position: absolute;
  top: 60px;
  left: 144px;
  color: var(--color-gray-300);
  display: inline-block;
  width: 26px;
  height: 13px;
}
.until {
  top: 88px;
}
.time-icon1 {
  position: absolute;
  height: 12.3%;
  width: 1.33%;
  top: 42.62%;
  right: 67.55%;
  bottom: 45.08%;
  left: 31.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.senayan {
  position: absolute;
  top: 28px;
  left: 17px;
  font-weight: 500;
  display: inline-block;
  width: 99px;
  height: 16px;
  -webkit-text-stroke: 1px #fff;
}
.destinations-icon,
.tangerang {
  position: absolute;
  top: 5px;
  left: 0;
  width: 7px;
  height: 35px;
}
.tangerang {
  top: 0;
  left: 17px;
  font-weight: 500;
  display: inline-block;
  width: 114px;
  height: 16px;
  -webkit-text-stroke: 1px #fff;
}
.destinantions,
.order-details1 {
  position: absolute;
  top: 58px;
  left: 176px;
  width: 131px;
  height: 44px;
  font-size: var(--font-size-smi);
}
.order-details1 {
  top: 70px;
  left: 814px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  text-align: center;
  display: inline-block;
  width: 98px;
  height: 20px;
}
.mahardika-razi-child,
.winston-marston {
  position: absolute;
  top: 164px;
  left: 300px;
  box-shadow: 0 1px 100px rgba(0, 0, 0, 0.1);
  width: 1118px;
  height: 122px;
}
.mahardika-razi-child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.order-id-00000000004-container {
  position: absolute;
  top: 32px;
  left: 814px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 246px;
  height: 31px;
  -webkit-text-stroke: 1px #fff;
}
.avanza-child,
.mahardika-razi,
.mahardika-razi2 {
  position: absolute;
  top: 307px;
  left: 300px;
  width: 1118px;
  height: 122px;
}
.avanza-child,
.mahardika-razi2 {
  top: 0;
  left: 0;
}
.avanza-child {
  height: 43.9%;
  width: 5.55%;
  top: 31.97%;
  right: 91.5%;
  bottom: 24.13%;
  left: 2.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.avanza,
.vector-icon3 {
  position: absolute;
  top: 450px;
  left: 300px;
  width: 1118px;
  height: 122px;
}
.vector-icon3 {
  height: 0.98%;
  width: 0.69%;
  top: 23.93%;
  right: 15%;
  bottom: 75.09%;
  left: 84.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.order-history {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
